@charset "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif;
}
h2 {
    text-align:center;
}

img{
	max-width:100%;
	height=auto;
	 align="left";
	  valign="center";
	  
}
conteneur select {
    width:80px;
}



#rechercher{
	
	justify-content:left;
	align-items:center;
}


    

#cartes {
	background-color:lightgrey;
	margin:5px;
    border:solid;
    padding:5px;
       
   }

.entetebloc{
	 text-align:center;
	}
	
.photo{
	float:left;
	
}

.labelproduit{
	font-weight:bold;
	color:blue;	
}

