@charset "UTF-8";
/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif;
}
h2 {
    text-align:center;
}

img{
	max-width:100%;
	margin-left:-60px;
    margin-top:-30px;
	  
}

#rechercher{
	
	justify-content:left;
	align-items:center;
}


    

#cartes {
	background-color:lightgrey;
	margin:5px;
    border:solid;
    padding:5px;
       
   }

.rouge{
	text-align:center;
	text-decoration: #ff8000;
	}
.vert{
	 text-align:center;
	 text-shadow:green;
     text-decoration: #008000;
	}
.entetebloc{
	 text-align:center;
	}	

.labelproduit{
	font-weight:bold;
	color:blue;	
}

