@charset "UTF-8";

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}
.texte
{
	margin-right : 45%;
	float :right;
}

label
{
	display:block;
	vertical-align: middle;
	float : left;
}

.submit, a[class=submit]:hover
{
	height: 50px;
	width:150px;
	float:left;
}

#iteration2
{
	margin-left: 160px;
}

.erreur
{
	font-weight: bold;
}