@charset "UTF-8";



div
{
	font-size:1.5em;
}
.upload
{
	width:130px;
	box-shadow: 3px 3px black;
	float:left;
	background-color: white;
	color: black;
	text-align: center;
	vertical-align: top;
	border: 1px solid black;
}

textarea
{
	resize: none;
}



#upload
{
	display: none;
}