@charset "UTF-8";

h3 
{
	text-align: center;
}

div
{
	font-size: 1.5em;
}

.back 
{
	height: 90px;
	width:130px;
	box-shadow: 5px 5px black;
	background-color: white;
	color: black;
	border: 1px solid black;	
}